html {
    font-size: calc(0.5em + 0.5vw);
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }

body {
  background-color: #ffbf00;
}

.sec {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

#right {
    position: fixed;
    bottom: 0px;
}

#me {
    margin: 0 auto;
    width: 80vh;
    min-height:100px;
    border: solid 2px black;
}

.myself {
  padding: 4vh;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}


@media screen and (max-width: 680px) {
    img {
      display: none;
    }
}
  