body{
    background-color: #FFBF00;
}
.sec{
   margin-top:20vh;
}
#right{
    float:left;
    width:20%;
    margin-left: 20vh;
}

#me{
    margin: 0 auto;
    width: 100vh;
    height:70vh;    
    border: solid 2px black;
}

.fitem{
    float:left;
}

.myself{
    padding: 4vh;
    text-align: center;
    font-size: 1.5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}