html {
    font-size: calc(0.5em + 0.5vw);
}
h2 {
    font-size: 1.5em;
    font-family: 'Open Sans' ,sans-serif;
}
#name{
    font-size: 5em;
    font-family: 'Permanent Marker', cursive;
}
body{
    background-color: #FFBF00;
}
#right{
    display:flex;
    justify-content: end;
}
#right img{
   margin:auto;  
   max-width:100%;
   height:auto;
}
#left{
    display: flex;
    justify-content: start;
    align-items: center;
}
.intro{
    text-align: left;
}
.sec{
    display:flex;
    justify-content: center;
    min-height: 300px;
    margin: 0 auto;
    align-items: center;
}
.rl{
    height:80vh;
    width: 100vh;
}